body {
    background-color: #D3C2A6;
    margin: 0;
}
a{
    color: #7B6442;
}
/*.Center {
    height: 100%;
    width: 100%;
}*/
div.Menu {
    /*background-color: #D3C2A6;*/
    float: left;
    height: 100%;
    padding-left: 50px;
    width: 200px;
}
p.MenuActive {
    font-weight: bold;
}
p.Menu {
    font-weight: normal;
}
a.Closed {
    text-decoration: line-through;
}
.Content {
    padding: 0px 20px 0px 250px;
}
.Header {
    /*background-color: #D3C2A6;*/
}
.Footer {
    width: 100%;
}
p#headIndex{
    color: #7B6442;
    font-family: Georgia;
    font-size: 36px;
    /*margin-left: 40%;*/
    padding: 50px 0 0 0;
    /*width: 130px;*/
}
div.Text {
    margin: 0;
}
/*p.Text:first-letter {
    margin-left: 30px;
}*/
div.ListItem {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #7b6442;
}
p.Text, span, table, ul, ol, li{
    font-size: 16px;
    margin: 10px;
}
p.subHead, p.Text, span, table, a, ul, ol, li{
    color: #7b6442;
    font-family: Georgia;
}

p.subHead {
    /*background-color: #D3C2A6;*/
    font-size: 20px;
    margin: 50px 10px 10px 10px;
    margin-left: 50px;
    font-weight: bold;
}