body {
    background-color: #D3C2A6;
    margin: 0;
}
a{
    color: #7B6442;
}
/*.Center {
    height: 100%;
    width: 100%;
}*/
.Menu {
    /*background-color: #D3C2A6;*/
    /*float: left;
    height: 100%;
    /*padding: 70px 0;*/
    /*width: 300px;*/
}
.Content {
    /*padding-left: 300px;*/
}
.Header {
    /*background-color: #D3C2A6;*/
}
p#headIndex{
    color: #7B6442;
    font-family: Segoe Print;
    font-size: 36px;
    /*margin-left: 40%;*/
    padding: 50px 0 0 0;
    /*width: 130px;*/
}
div.Text {
    margin: 0;
}
p.Text:first-letter {
    margin-left: 30px;
}
p.Text, span, table, a{
    font-size: 16px;
    margin: 10px;
}
p.subHead, p.Text, span, table, span.Login, span.Time, a{
    color: #7b6442;
    font-family: Segoe Print;
}
a.Link {
    font-weight: bold;
}
p.subHead {
    /*background-color: #D3C2A6;*/
    font-size: 20px;
    margin: 50px 10px 10px 10px;
    margin-left: 50px;
    font-weight: bold;
}
tr.Row{
    background-color: #D3C2A6;
    padding-top: 50px;
}
td.Column{
    padding: 0px 0px 10px;
    /*padding-left: 50px;*/
    /*cursor: pointer;*/
}
div#epigraph {
    padding: 0 0 50px 45%;
}
span.Login{
    font-size: 18px;
    font-weight: bold;
}
span.Time {
    font-size: 12px;
}
div.Quote {
    padding: 10px 50px;
}
p.Quote{
    font-size: 14px;
    font-style: italic;
}
p.Quote:first-line{
    font-size: 15px;
    font-weight: bold;
}